import cv2
import mediapipe as mp
import numpy as np
import pyautogui
import os
import logging
import tensorflow as tf
import math
import screen_brightness_control as sbc
from pycaw.pycaw import AudioUtilities, IAudioEndpointVolume
from comtypes import CLSCTX_ALL, cast, POINTER